@keyframes flip-card {
	100% {
		transform: rotateX(-90deg);
	}
}

:root {
	--flip-delay: .15s;
}

.digit {
	display: grid;
}

.digit-card[data-prev] {
	z-index: 2;
}

.digit-card[data-current] {
	z-index: 1;
}

.digit-card[data-current][data-top] {
  z-index: 1;
  background-color: green;
}

.digit-card[data-bottom] {
	clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%);
}

.digit-card[data-top] {
	clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
}

.digit-card[data-flip-bottom] {
	animation: flip-card var(--flip-delay) forwards !important;
  background: red !important;
/*   z-index: 0 !important; */
}

/* .digit-card[data-prev][data-bottom].animate-forward {
} */

.digit-card[data-hide] {
	z-index: 0;
}

.digit-card[data-show] {
	z-index: 3;
	animation: flip-card var(--flip-delay) reverse forwards;
}


.digit-card {
	height: 100%;
	box-sizing: border-box;

	background: rgb(255, 253, 204);
	background: linear-gradient(90deg, rgba(255, 253, 204, 1) 0%, rgba(236, 226, 185, 1) 56%, rgba(251, 255, 184, 1) 100%);

	border-radius: 15px;

	font-size: 700%;
	padding: 2rem;
	display: inline;
	width: fit-content;

	grid-column: 1;
	grid-row: 1;
}