@keyframes flip-card {
	100% {
		transform: rotateX(-90deg);
	}
}

/*
has to be a seperate @keyframes to get around a CSS spec.
*/
@keyframes flip-card-rev {
	0% {
		transform: rotateX(-90deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}

:root {
	--flip-delay: 200ms;
}

.clock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	pointer-events: none;
	user-select: none;

	font-size: 150%;
}

.digit {
	display: grid;
}

.digit-card.bottom {
	clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%);
}

.digit-card.top {
	clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
}

.digit-card.bottom.flip {
	animation: flip-card var(--flip-delay) forwards;
	/*   z-index: 0 !important; */
}

.digit-card.top.flip {
	animation: flip-card-rev var(--flip-delay) forwards;
}

.clock-colon {
	font-size: 900%;
}

.digit-card {
	height: 100%;
	box-sizing: border-box;

	background: #201a1a;
	background: linear-gradient(135deg, #201a1a 0%, #232222 50%, #201a1a 100%);

	border-radius: 15px;

	font-size: 700%;
	padding: 2rem;
	display: inline;
	width: fit-content;

	grid-column: 1;
	grid-row: 1;
}

.digit:nth-of-type(2n) {
	/* border-top: solid red 5px; */
	margin-left: 1rem;
}
