@keyframes flip-card {
	100% {
		transform: rotateX(-90deg);
	}
}

/*
has to be a seperate @keyframes to get around a CSS spec.
*/
@keyframes flip-card-rev {
	0% {
		transform: rotateX(-90deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}

:root {
	--flip-delay: 200ms;
}

.digit {
	display: grid;
}

.digit-card.bottom {
	clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%);
}

.digit-card.top {
	clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
}

.digit-card.bottom.flip {
	animation: flip-card var(--flip-delay) forwards;
	/*   z-index: 0 !important; */
}

.digit-card.top.flip {
	animation: flip-card-rev var(--flip-delay) forwards;
}

.digit-card {
	height: 100%;
	box-sizing: border-box;

	background: rgb(255, 253, 204);
	background: linear-gradient(90deg, rgba(255, 253, 204, 1) 0%, rgba(236, 226, 185, 1) 56%, rgba(251, 255, 184, 1) 100%);

	border-radius: 15px;

	font-size: 700%;
	padding: 2rem;
	display: inline;
	width: fit-content;

	grid-column: 1;
	grid-row: 1;

	pointer-events: none;
	user-select: none;
}
